<link rel="stylesheet" href="css/login.css">
<%- include('../includes/head.ejs')%>
</head>

<body>
    <%- include('../includes/navigation.ejs')%>
    </header>
    <div class="main login">
        <div class="form-container log-in-container">
            <% if(errorMessage){ %>
            <div class="flash-message flash-message-danger"><span class="bold">Oh snap!</span><%= errorMessage %></div>
            <% } %>
            <form action="/login" method="POST" autocomplete="off">
                <div class="form-header">
                    <h1>Hi there</h1>
                </div>
                <p>Please log in before continuing</p>
                <div class="form-body">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Email" name="email" />
                    <label for="password">Password</label>
                    <input type="password" placeholder="Password" name="password" />
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit">Sign In</button>
                </div>
                <div class="form-footer">
                    <a href="/reset" class="primary">Forgot your password?</a>
                    <br>
                    <br>
                    <a href="/reset">
                        If you'd love to have an account check the
                        <a href="/paper" class="primary">order paper</a>
                        page
                    </a>
                </div>
            </form>
        </div>
    </div>
    <%- include('../includes/footer.ejs')%>
    <%- include('../includes/end.ejs')%>