<link rel="stylesheet" href="css/login.css">
<%- include('../includes/head.ejs')%>
</head>

<body>
    <%- include('../includes/navigation.ejs')%>
    </header>
    <main>
        <% if(errorMessage) {%>
            <div class="flash-message flash-message-danger"><span class="bold">Oh snap!</span><%= errorMessage %></div>
        <% } %>
        <div class="container" id="container">
            <div class="reset-form">
                <form action="/reset" method="POST" autocomplete="off">
                    <p>Enter your Email to reset Password</p>
                    <input type="email" placeholder="Email" name="email" />
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit">Send email</button>
                </form>
            </div>
        </div>
    </main>
    <%- include('../includes/end.ejs')%>