<link rel="stylesheet" href="/css/login.css">
<%- include('../includes/head.ejs')%>
</head>

<body>
    <%- include('../includes/navigation.ejs')%>
    </header>
    <div class="main login">
        <div class="form-container log-in-container">
            <div class="form-container sign-up-container">
                <% if(errorMessage){ %>
                <div class="flash-message flash-message-danger"><span class="bold">Oh snap!</span><%= errorMessage %>
                </div>
                <% } %>
                <form action="/signup" method="POST" autocomplete="off">
                    <div class="form-header">
                        <h1>Hello</h1>
                    </div>
                    <p>Please create an account before continuing</p>
                    <div class="form-body">
                        <label for="userame">Username</label>
                        <input class="<%= validationErrors.find(e => e.param === 'username')? 'br-danger': '' %>"
                            type="text" placeholder="Username" name="username" value="<%= oldSignupInput.username %>" />
                        <label for="email">Email</label>
                        <input class="<%= validationErrors.find(e => e.param === 'email')? 'br-danger': '' %>"
                            type="email" placeholder="Email" name="email" value="<%= oldSignupInput.email %>" />
                        <label for="password">Password</label>
                        <input class="<%= validationErrors.find(e => e.param === 'password')? 'br-danger': '' %>"
                            type="password" placeholder="Password" name="password"
                            value="<%= oldSignupInput.password %>" />
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="token" value="<%= token %>">
                        <button type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('../includes/footer.ejs')%>
    <%- include('../includes/end.ejs')%>