<link rel="stylesheet" href="css/dashboard.css">
<link rel="stylesheet" href="css/contentfaq.css">
<%- include('../includes/head.ejs')%>

</head>
<main>
    <%- include('../includes/dashnav.ejs')%>
    <div class="testimonials-container main">
        <div class="projects-nav">
            <ul class="projects-nav__list">
                <li class="<%= path === '/content-faq' ? 'active' : '' %>">
                    <a href="/content-faq"><span>faq</span></a>
                </li>
                <li class="<%= path === '/projects-newParamete' ? 'active' : '' %>">
                    <a href="/content-testimonials"><span>testimonials</span></a>
                </li>
                <li class="<%= path === '/projects-newParameter' ? 'active' : '' %>">
                    <a href="/content-users"><span>users</span></a>
                </li>
            </ul>
        </div>
        <div class="contentfaqs">
            <div class="contentfaqs-header">
                <h4>Testimonials</h4>
            </div>
            <div class="contentfaqs-body">
                <div class="contentfaqs-changer">
                    <form action="" class="/faqs-form">
                        <div class="contentfaqs-input__container">
                            <label for="testimonial">Testimonial</label>
                            <input type="text" id="testimonial" name="testimonial">
                        </div>
                        <button>Add Testimonial</button>
                    </form>
                </div>
                <div class="contentsfaq-made">
                    <div class="contentsfaq-made__header">
                        <h4>Testimonials</h4>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path
                                    d="M12 3c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 14c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-7c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
                            </svg>
                        </span>
                    </div>
                    <div class="contentsfaq-made__container">
                        <ul class="contentsfaq__list">
                            <li>
                                <div class="testimonial-container">
                                    <div class="testimonial-header">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
                                            doloremque.</p>
                                    </div>
                                    <div class="testimonial-body">
                                        <span>John Doe</span>
                                        <span>24th Jan 2021</span>
                                    </div>
                                    <div class="testimonial-footer">
                                        <ion-icon name="paper-plane-outline"></ion-icon>
                                        <ion-icon name="trash-outline"></ion-icon>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../includes/dashprofile.ejs')%>
</main>
<script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
</body>

</html>