<link rel="stylesheet" href="css/dashboard.css">
<link rel="stylesheet" href="css/contentfaq.css">
<%- include('../includes/head.ejs')%>

</head>
<main>
    <%- include('../includes/dashnav.ejs')%>
    <div class="testimonials-container main">
        <div class="projects-nav">
            
            <ul class="projects-nav__list">
                <% if (accountType === "Admin") { %>
                <a href="/content-faq">
                <li class="<%= path === '/content-faq' ? 'active' : '' %>">
                   <span>faq</span>
                </li>
            </a>
            <% } %>
            <% if (accountType === "Admin") { %>
                <a href="/content-users">
                <li class="<%= path === '/content-users' ? 'active' : '' %>">
                   <span>users</span>
                </li>
            </a>
            <% } %> 
            <% if (accountType === "Admin") { %>
                <a href="/content-sample"><li class="<%= path === '/content-sample' ? 'active' : '' %>">
                <span>samples</span>
                </li>
            </a>
            <% } %> 
            </ul>
        </div>
        <div class="contentfaqs">
            <div class="contentfaqs-header">
                <h4>Testimonials</h4>
            </div>
            <div class="contentfaqs-body">
                <div class="contentfaqs-changer">
                    <form action="/add-testimonial" class="/faqs-form" method="POST">
                        <div class="contentfaqs-input__container">
                            <label for="testimonial">Testimonial</label>
                            <!-- <input type="text" id="testimonial" name="testimonial"> -->
                            <textarea name="testimonial" id="testimonial" cols="5" rows="10" maxlength="170"></textarea>
                        </div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Add Testimonial</button>
                    </form>
                </div>
                <div class="contentsfaq-made">
                    <div class="contentsfaq-made__header">
                        <h4>Testimonials</h4>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path
                                    d="M12 3c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 14c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-7c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
                            </svg>
                        </span>
                    </div>
                    <div class="contentsfaq-made__container">
                        <ul class="contentsfaq__list">
                            <% for (let i = 0; i < testimonials.length; i++) { %>
                            <li>
                                <div class="testimonial-container">
                                    <div class="testimonial-header">
                                        <p><%= testimonials[i].text %></p>
                                    </div>
                                    <div class="testimonial-body">
                                        <span><%= testimonials[i].owner.username %></span>
                                        <span><%= new Date(testimonials[i].createdAt).getUTCMonth() + 1 %>/<%= new Date(testimonials[i].createdAt).getUTCDate()%>/
                                            <%= new Date(testimonials[i].createdAt).getUTCFullYear()%></span>
                                    </div>
                                    <div class="testimonial-footer">
                                        <% if (accountType === "Admin") { %>
                                        <form action="/publish-testimonial" method="post">
                                            <button type="submit">
                                                <input type="hidden" name="testimonialId"
                                                    value="<%= testimonials[i].id %>">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <ion-icon name="paper-plane-outline" style = "<%=testimonials[i].published ? 'color: blue' : 'color: #313131'%>"></ion-icon>
                                            </button>
                                        </form>
                                        <form action="/delete-testimonial" method="POST">
                                            <button type="submit">
                                                <input type="hidden" name="testimonialId"
                                                    value="<%= testimonials[i].id %>">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <ion-icon name="trash-outline" class="trash"></ion-icon>
                                            </button>
                                        <% } %> 
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../includes/dashprofile.ejs')%>
</main>
<script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
</body>

</html>