<link rel="stylesheet" href="css/dashboard.css">
<link rel="stylesheet" href="css/projects.css">
<%- include('../includes/head.ejs')%>
</head>
<main>
    <%- include('../includes/dashnav.ejs')%>
    <div class="projects-container main">
        <div class="projects-nav">
            <ul class="projects-nav__list">
                <li class="<%= path === '/projects' ? 'active' : '' %>">
                    <a href="/projects"><span>projects</span></a>
                </li>
                <% if (accountType === "Admin") { %>
                <li class="<%= path === '/projects-newParameter' ? 'active' : '' %>">
                    <a href="/projects-newParameter"><span>parameters</span></a>
                </li>
                <% } %>
            </ul>
        </div>
        <div class="projects-search">
            <input type="search" name="search" id="search" placeholder="search by order number">
        </div>
        <div class="projects">
            <div class="projects-header">
                <h4>Projects</h4>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path
                            d="M12 3c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 14c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-7c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
                    </svg>
                </span>
            </div>
            <ul class="projects-list">
                <% if (accountType === "Client") { %>
                <% for(let i = 0; i < projects.length; i++) { %>
                <% var project = projects[i] %>
                <% var completed = project && project.completed ? project.completed.value : null %>
                <% var completedDate = project && project.completed ? project.completed.date : null %>
                <% var username = projects[i] && projects[i].ownerId ? projects[i].ownerId.username : null %>
                <% var projectOwnerId = projects[i] && projects[i].ownerId ? projects[i].ownerId._id : null %>
                <% if(JSON.stringify(user._id) === JSON.stringify(projectOwnerId)) {%>
                <li>
                    <div class="projects-list__item">
                        <div class="projects-information">
                            <div class="projects-information__header">
                                <h4><%= project.topic %></h4>
                                <span><%= username %></span>
                            </div>
                            <div class="projects-information__body">
                                <span style='<%= completed ? "color: #6901e1;": "color:red;"%>'>
                                    <%= completed ? `Submitted on: ${new Date(JSON.parse(completedDate)).getDate()} / ${new Date(JSON.parse(completedDate)).getMonth() + 1} / ${new Date(JSON.parse(completedDate)).getFullYear()}` : 'Not submitted' %>
                                </span>
                                <span style='<%= completed ? "color: green;": "color:red;"%>'>
                                    <%= completed ? 'Completed': 'Incomplete'%>
                                </span>
                            </div>
                        </div>
                        <div class="projects-toggle">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path
                                    d="M12 3c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 14c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-7c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
                            </svg>
                        </div>
                    </div>
                    <span class="tooltip projects-menu projects-menu" role="tooltip">
                        <ul class="projects-menu__list">
                            <% if (accountType !== "Client") { %>
                            <% if (!completed) { %>
                            <li class="toggleSubmit" data-project-id="<%= project._id%>">Submit work</li>
                            <% } %>
                            <% } %>
                            <% if (completed) { %>
                            <li class="toggleEdit" data-project-id="<%= project._id%>"
                                <% if (accountType !== "Client") { %> data-work-link="<%=project.assignmentWork%>">Edit
                                work</li>
                            <% } %>
                            <li><a href="<%=project.assignmentWork%>" target="_blank">See work</a></li>
                            <% } %>
                            <form action="/project-attachment" method="post">
                                <input type="hidden" name="link" value="<%= project._id %>">
                                <input type="hidden" name="topic" value="<%= project.topic %>">
                                <input type="hidden" name="type" value="Project">
                                <input type="hidden" name="projectOwnerId"
                                    value="<%= project && project.ownerId ? project.ownerId.id : null %>">
                                <input type="hidden" name="loggedUserId" value="<%= user.id %>">
                                <input type="hidden" name="username" value="<%= username %>">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <li><button type="submit">Chat about</button></li>
                            </form>
                        </ul>
                    </span>
                </li>
                <% } %>
                <% } %>
                <% } else if(accountType === "Admin" || accountType === "Editor") {%>
                <% for(let i = 0; i < projects.length; i++) { %>
                <% var project = projects[i] %>
                <% var username = projects[i] && projects[i].ownerId ? projects[i].ownerId.username : null %>
                <% var completed = project && project.completed ? project.completed.value : null %>
                <% var completedDate = project && project.completed ? project.completed.date : null %>
                <% var email = projects[i] && projects[i].ownerId ? projects[i].ownerId.email : null %>
                <% var projectOwnerId = projects[i] && projects[i].ownerId ? projects[i].ownerId._id : null %>
                <li>
                    <div class="projects-list__item">
                        <div class="projects-information">
                            <div class="projects-information__header">
                                <h4><%= project.topic %></h4>
                                <span><%= username %></span>
                            </div>
                            <div class="projects-information__body">
                                <span style='<%= completed ? "color: #6901e1;": "color:red;"%>'>
                                    <%= completed ? `Submitted on: ${new Date(JSON.parse(completedDate)).getDate()} / ${new Date(JSON.parse(completedDate)).getMonth() + 1} / ${new Date(JSON.parse(completedDate)).getFullYear()}` : 'Not submitted' %>
                                </span>
                                <span style='<%= completed ? "color: green;": "color:red;"%>'>
                                    <%= completed ? 'Completed': 'Incomplete'%>
                                </span>
                            </div>
                            <div class="projects-information__body">
                                <span>
                                    Order Number: # <span class="order-number"><%= project.orderNumber %></span>
                                </span>
                            </div>
                        </div>
                        <div class="projects-toggle">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path
                                    d="M12 3c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 14c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-7c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
                            </svg>
                        </div>
                    </div>
                    <span class="tooltip projects-menu projects-menu" role="tooltip">
                        <ul class="projects-menu__list">
                            <% if (!completed) { %>
                            <li class="toggleSubmit" data-project-id="<%= project._id%>">Submit work</li>
                            <% } %>
                            <% if (completed) { %>
                            <li class="toggleEdit" data-project-id="<%= project._id%>"
                                data-work-link="<%=project.assignmentWork%>">Edit work</li>
                            <li><a href="<%=project.assignmentWork%>" target="_blank">See work</a></li>
                            <% } %>
                            <form action="/project-attachment" method="post">
                                <input type="hidden" name="link" value="<%= project._id %>">
                                <input type="hidden" name="topic" value="<%= project.topic %>">
                                <input type="hidden" name="type" value="Project">
                                <input type="hidden" name="projectOwnerId"
                                    value="<%= project && project.ownerId ? project.ownerId.id : null %>">
                                <input type="hidden" name="loggedUserId" value="<%= user.id %>">
                                <input type="hidden" name="username" value="<%= username %>">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <li><button type="submit">Chat about</button></li>
                            </form>
                        </ul>
                    </span>
                </li>
                <% } %>
                <% } %>
            </ul>
        </div>
    </div>
    <%- include('../includes/dashprofile.ejs')%>
</main>
<div class="modal-bg">
    <div class="usermodal">
        <form action="/submit-work" method="POST" class="user-form">
            <label for="work">Submit the work</label>
            <input type="text" placeholder="Work link" name="work">
            <input type="hidden" name="projectId" value="">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn-primary modal-close"> Submit work</button>
        </form>
        <span class="modal-close1">
            <ion-icon name="close-circle-outline"></ion-icon>
        </span>
    </div>
</div>
<script src="/js/projets.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script>
    window.onload = () => {
        if (document.querySelector('.message-alert')) {
            setTimeout(() => {
                document.querySelector('.message-alert').remove();
            }, 5000);
        }
    }

    for (let i = 0; i < document.getElementsByClassName('projects-list__item').length; i++) {
        const projectsToggle = document.getElementsByClassName('projects-list__item')[i].lastElementChild;
        const projectsMenu = document.getElementsByClassName('projects-list__item')[i].parentElement.lastElementChild;
        Popper.createPopper(projectsToggle, projectsMenu, {
            modifiers: [{
                name: 'offset',
                options: {
                    offset: [0, 8],
                },
            }, ],
        });
    }

    const hideEvents = ['mouseleave', 'focusout'];
    const showEvents = ['click'];

    for (let i = 0; i < document.getElementsByClassName('projects-list__item').length; i++) {
        const projectsToggle = document.getElementsByClassName('projects-list__item')[i].lastElementChild;
        const projectsMenu = document.getElementsByClassName('projects-list__item')[i].parentElement.lastElementChild;

        showEvents.forEach(event => {
            projectsToggle.addEventListener(event, () => {
                projectsMenu.setAttribute('data-show', '');
            });
        });

        hideEvents.forEach(event => {
            projectsMenu.addEventListener(event, () => {
                projectsMenu.removeAttribute('data-show');
            });
        });
    }

    let modalBg = document.querySelector('.modal-bg');
    document.querySelectorAll(".toggleSubmit").forEach(toggleSubmit => {
        toggleSubmit.addEventListener("click", (e) => {
            modalBg.querySelector('[name="projectId"]').value = e.target.dataset.projectId;
            modalBg.classList.add('bg-active');
        })
    });

    document.querySelectorAll(".toggleEdit").forEach(toggleEdit => {
        toggleEdit.addEventListener("click", (e) => {
            modalBg.querySelector('[name="projectId"]').value = e.target.dataset.projectId;
            modalBg.querySelector('[name="work"]').value = e.target.dataset.workLink;
            modalBg.querySelector('form').action = `/edit-work/${e.target.dataset.projectId}`
            modalBg.classList.add('bg-active');
        })
    });

    let modalClose = document.querySelector('.modal-close');
    let modalClose1 = document.querySelector('.modal-close1');

    modalClose.addEventListener('click', () => {
        modalBg.classList.remove('bg-active');
    })

    modalClose1.addEventListener('click', () => {
        modalBg.classList.remove('bg-active');
    })
</script>
</body>

</html>