<link rel="stylesheet" href="css/about.css">

<%- include('../includes/head.ejs')%>
</head>

<body>
    <%- include('../includes/navigation.ejs')%>
    <div class="about-header">
        <div class="about-header__container">
            <div class="about-header__text">
                <h1><span class="highlight">Hi</span> I'm Jerry the writer</h1>
                <h3>
                    but you can call me Jerry.
                </h3>
            </div>
        </div>
    </div>
    </header>
    <main>
        <div class="intro">
            <div class="intro-text">
                <div class="intor-text__title">
                    <h1>&#x201D</h1>
                </div>
                <big>I’ve been helping busy/stressed students complete their assignments for close to 8 years now. I
                    started
                    doing it as a full-time job about 3 years ago.
                </big>
                <br><br>
                <big> Having noticed how college students go through so
                    much
                    stress after I worked directly with a couple of them, I share advice on; how to plan and always be
                    on
                    top
                    of your schoolwork
                </big>
                <br><br>
                <big> I also share how, with little to no experience, you can tackle assignments in
                    such a
                    short time, and improve your grades/GPA, and much more how to make your college life easier.
                </big>
                <br><br>
                <big> Go through the site, grab anything useful you can find, and let me know how it’s helped you, or if
                    I need to make any changes.</big>
            </div>
            <div class="intro-footer">
                <p>Jerry</p>
                <big class="light">Your Personal Writer</big>
            </div>
        </div>
        <div class="unique">
            <div class="unique-container">
                <div class="unique-text">
                    <div class="unique-text__title">
                        <h3>WHAT I DO THAT'S DIFFERENT</h3>
                    </div>
                    <div class="unique-text__content">
                        <div class="unique-text__content-item">
                            <big><span class="bold">I share:</span> most of my quality material FREE, and give quality
                                insights, advice, step by
                                step instructions to help make your life as a student easier.
                            </big>
                        </div>
                        <div class="unique-text__content-item">
                            <big><span class="bold">I write assignments/essays:</span> For a select few, handpicked
                                number of clients. Even after
                                giving away valuable free content, some students still ask me to write their papers for
                                them. I help with that.
                            </big>
                        </div>
                        <div class="unique-text__content-item">
                            <big><span class="bold">I will not:</span> Compromise the quality of my work, neither will I
                                pretend to be a big
                                company with hundreds/thousands of writers ready to take huge customer orders.
                            </big>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="justify">
            <div class="justify-container">
                <div class="justify-center__title-container">
                    <div class="justify-title">
                        <h1 class="highlight">Why I started this site.</h1>
                    </div>
                </div>
                <div class="justify-content">
                    <p>Most people have not learned how much the world would be better with a little bit of generosity
                        and kindness. Everybody is trying to take a piece of the cake for themselves.</p>
                    <p>Writing companies have hired expert designers and content creators, and they know what to write,
                        to get you enticed so that they have your business. As a result, they position themselves, with
                        numbers and testimonials, as companies that can do a great job for you, and they charge you for
                        it, and then, it ends there.
                    </p>
                    <p>How you afford the high prices is all up to you. No writing company is asking themselves, “With
                        such high prices, how will these students manage to pay for a whole semester’s number of
                        assignments?”
                    </p>
                    <p>Also, there is somewhat, a kind of a trap with such services, because, once they start writing
                        your paper professionally, you have to keep presenting such quality of papers the whole
                        semester, otherwise, you risk getting caught for academic cheating; how frustrating.
                    </p>
                    <p>Wouldn’t you honestly like a change? Don’t you look forward to someone guiding you through the
                        process?
                    </p>
                </div>
                <div class="justify-content">
                    <p>Having been a writer for almost 8 years now, I don’t accuse these writing companies so much,
                        because I was just like them; trying to get more work, more clients and more money. I didn’t
                        quite care about how my clients would afford the prices.
                    </p>
                    <p>The human side of me has now taken me back, and I need to be a contributor, not a diminisher.
                        When it comes to writing essays, I know what the professor looks for, and I know how to get it
                        well-structured in a paper, for my clients. I have written a whole guide for that.</p>
                </div>
                <div class="button">
                    <a href="#" class="link">Get Access</a>
                </div>
                <div class="justify-content">
                    <p><span class="highlight bold">This is not a typical essay writing service.</span> Take a look at
                        most essay
                        writing services out there,
                        and I will tell you what to expect: A flashy captivating headline, with a calculator to know how
                        much assignments will cost you, and testimonials, many of which usually are not true, and some
                        metric figures saying something like, “98% customer satisfaction, 152,936 completed orders, over
                        3578 skilled writers” etc.
                    </p>
                    <p>You probably noticed I have no name to imply I am a big company, with a huge team because I am
                        not. I can’t handle many orders. My experience in the last years has made me value my sleep, my
                        health relationships, family time, my life and my credibility. So, I no longer take on many
                        customer orders and work myself off, losing my life, to complete them.</p>
                    <p>I also don’t advertise prices upon landing at the site. Why? You may ask. First, because I don’t
                        serve a huge market. I only have a few slots available at a given time. Normally, I would lose
                        about 25%-45% chance of converting more people, but that is not my aim. I could do web
                        optimization techniques to increase leads and do what the SEO experts out there recommend, so as
                        to get more customers.</p>
                    <p>That is not my aim either. I could have also created my practical books into a simple online
                        course and sold it for as little as $50 each, and with the right marketing, most people would
                        buy. That isn’t my aim either. </p>
                    <p>I prioritize most of my previous clients and work with them since we have come a long way. I also
                        prioritize referrals as they are usually like my other clients. To the students who find
                        academic essay writing services expensive, I feel you. I totally understand you. That’s why I
                        have invested in you, by creating guides, and I would also tell you, I am way cheaper than most
                        sites out there. </p>
                    <p>I don’t think I have been selfish to leave anybody out. I think I did you a great service in
                        putting up this site, but at least find a way to benefit directly. Share links with friends,
                        colleagues and fellow students, and let people all benefit. </p>
                    <p class="highlight"><i>No more excuses, you owe it to yourself now, to make your college life
                            easier, more
                            liberating, more fulfilling and a lifetime of memories to treasure.</i></p>
                </div>
            </div>
        </div>
        <div class="justify">
            <div class="justify-container">
                <div class="justify-center__title-container">
                    <div class="justify-title">
                        <h1>What's in the guides.</h1>
                    </div>
                </div>
                <ul class="justify-list__items">
                    <li><span class="highlight">Productivity advice:</span>Ftructions to master your time, balance your
                        life and get on
                        top of your priorities. Imagine if you're able to cut down your school hours to a few manageable
                        hours, and still get good grades.</li>
                    <li><span class="highlight">Hacks to improve your GPA score:</span>imple planning. Yes, you could
                        improve your grades and GPA score. It’s all a matter of planning.
                    </li>
                    <li><span class="highlight">Advice on writing quality papers:</span>ssertations, etc. Whatever the
                        assignment, there is a general principle to completing them in such a short time. While I may
                        not have specific advice for technical assignments such as I.T, I will get into specifics on
                        essays and term papers. Perfect grammar, avoid plagiarism, and finetune your essay, is all
                        there. I also provide a complete checklist to use, after you have finished your assignment, to
                        ensure you have followed the proven process well.</li>
                    <li><span class="highlight">Speed writing:</span> Is it possible to complete a 10-page essay in 4
                        hours or less? Absolutely! How
                        about completing that assignment that always stresses you fast, so you can spend time doing what
                        you love? You can! But you need to know the how-to. I will share links, sites and specific
                        advice, to break down an assignment into a completely relevant structure and do it in a few
                        minutes. Still skeptical? I was able to complete my final year school project in just 2 days,
                        from scratch, working a maximum of 6 hours each day. I wrote the first 3 chapters on Monday, and
                        the last 2 on Tuesday, totaling about 60 pages in total. My colleagues wondered how I did it;
                        the key is in research. Find the relevant information, and the rest is easy, I promise. </li>
                </ul>
            </div>
        </div>
        <div class="justify">
            <div class="justify-container testimonials">
                <div class="justify-center__title-container">
                    <div class="justify-title">
                        <h1>What my clients have to say about me</h1>
                    </div>
                    <%- include('../includes/testimonials.ejs')%>
                </div>
            </div>
        </div>
    </main>
    <%- include('../includes/footer.ejs')%>
    <script src="js/testimonials.js"></script>
    <%- include('../includes/end.ejs')%>