<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/books.css">
<link rel="stylesheet" href="css/about.css">
</head>

<body>
    <%- include('../includes/navigation.ejs')%>
    <div class="about-header">
        <div class="about-header__container">
            <div class="about-header__text">
                <h1><span class="highlight">Hi</span> I'm Jerry the writer</h1>
                <h3>
                    but you can call me Jerry.
                </h3>
            </div>
        </div>
    </div>
    </header>
    <main>
        <div class="intro">
            <div class="intro-text">
                <div class="intor-text__title">
                    <h1>&#x201D</h1>
                </div>
                <big>I’ve been helping busy/stressed students complete their assignments for close to 8 years now. I
                    started
                    doing it as a full-time job about 3 years ago.
                </big>
                <br><br>
                <big> Having noticed how college students go through so
                    much
                    stress after I worked directly with a couple of them,I decided to start this site.
                </big>
                <br><br>
                <big> I share how, with little to no experience, you can write A-grade assignments in such a short time,
                    improve your grades/GPA, and much more how to make your college life easier
                </big>
                <br><br>
                <big> I also work with a hand-picked and well developed team of writers to <a href="/sales"
                        style="color: blue;">help students who can’t do their assignments</a> for a very reasonable
                    fee.</big>
                <br><br>
                <big> Go through the site, grab anything useful you can find, <a href="/projects-newProject"
                        style="color: blue;">order for my services</a> if you need to, and let me know how it’s helped
                    you, or if I need to make any changes.</big>
            </div>
            <div class="intro-footer">
                <p>Jerry</p>
                <big class="light">Your Personal Writer</big>
            </div>
        </div>
        <div class="unique">
            <div class="unique-container">
                <div class="unique-text">
                    <div class="unique-text__title">
                        <h3>WHAT I DO THAT'S DIFFERENT</h3>
                    </div>
                    <div class="unique-text__content">
                        <div class="unique-text__content-item">
                            <big><strong><span>I share:</span></strong> Most of my <span><strong>quality</strong></span>
                                material <span><strong>FREE</strong></span> and give quality insights
                                and step by step instructions to make your school life. I lose thousands of dollars
                                every month, in the process, but why not invest in you anyway?
                            </big>
                        </div>
                        <div class="unique-text__content-item">
                            <big><strong><span>I do assignments/essays:</span></strong> For a select few, handpicked
                                number of clients who are either
                                too busy or unable to do their assignments. Some students still ask me to write their
                                papers for them, despite my free guides. I can help with that.
                            </big>
                        </div>
                        <div class="unique-text__content-item">
                            <big><strong><span>I will not:</span></strong> Compromise the quality of my work, by taking
                                more orders than my team can
                                handle. I usually prefer, and I can only work with clients who appreciate and revere my
                                work. It brings me not just money, but fulfilment.
                            </big>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="justify">
            <div class="justify-container">
                <div class="justify-center__title-container">
                    <div class="justify-title">
                        <h1 class="">Why I started this site.</h1>
                    </div>
                </div>
                <div class="justify-content">
                    <p>Let’s agree that being in school isn’t easy. Whether you are: </p>
                    <br>
                    <ul class="justify-list__items thin">
                        <li>An <span class="highlight">international student</span>, far from home</li>
                        <li>Balancing different jobs and <span class="highlight">taking an online course</span>
                            alongside the job
                        </li>
                        <li><span class="highlight">New to writing</span> school assignments with no skill/experience in
                            writing A-grade assignments.</li>
                        <li>A second language learner</li>
                    </ul>
                </div>
                <div class="justify-content">
                    <p>You have definitely had your share of problems completing school assignments. How do I know??
                        Experientially speaking, I’ve been helping busy/stressed students complete their assignments for
                        close to 8 years now.
                    </p>
                    <p>Most students I help:</p>
                    <br>
                    <ul class="justify-list__items thin">
                        <li><span class="highlight">Work 2-3 jobs</span> a day to manage the expensive life and have
                            almost no time to get their schoolwork done. </li>
                        <li>Some <span class="highlight">have the time but always procrastinate</span> on their
                            assignments until the last day, when a 10-page essay is staring right in front of their
                            eyes.
                        </li>
                        <li><span class="highlight">Are new to writing assignments and don’t have the writing skills to
                                complete their assignments, <strong class="highlight">ESPECIALLY the RESEARCH
                                    PART!!</strong> </li>
                        <li>A second language learner</li>
                    </ul>
                    <br>
                    <p>For a long time, they’ve paid me to do their assignments for them, and even sent me more students
                        who’ve needed my help. Soon the work became sizeable, that I could hardly understand how 8 years
                        passed by!! I also noticed that students came to me personally, because professional writing
                        services charged as much as 3 times <a href="/projects-newProject" style="color: blue;">what I
                            charge</a>. But even then, most of my
                        clients lamented that it was still expensive for them. The assignment writing industry is
                        generally expensive for everyone. </p>
                    <br>
                    <p>That’s how I ended up creating this site.</p>
                    <br>
                    <p>I know that your school life would be much easier if you:</p>
                    <ul class="justify-list__items thin">
                        <li>Were able organize your life so that you would <span class="highlight">spend the least time
                                on schoolwork</span> (to create
                            time for more important things- like job/family) while still getting a <span
                                class="highlight">great GPA score</span>.</li>
                        <li>Followed a system that would enable you to write <span class="highlight">A-grade
                                papers</span>on every assignment you did
                            (even if you are a <span class="highlight">new to writing assignments</span> or a <span
                                class="highlight">second language learner</span>).
                        </li>
                        <li>Knew how to write your assignments <span class="highlight"><strong>FAST!</strong></span>
                            <span class="highlight">(10-page essay in 3 hours?)</span> (guidebooks page). I’ll
                            show you <span class="highlight">how I did it</span> and <span class="highlight">how you
                                can</span> too).</li>
                        <li>Knew how to save your failing GPA score, and start <span class="highlight">improving your
                                school grades</span>, starting
                            now!</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="justify">
            <div class="justify-container">
                <div class="justify-center__title-container">
                    <div class="justify-title">
                        <h1>What's in the guides.</h1>
                    </div>
                </div>
                <ul class="justify-list__items">
                    <li><span class="highlight">Productivity advice:</span>Ftructions to master your time, balance your
                        life and get on
                        top of your priorities. Imagine if you're able to cut down your school hours to a few manageable
                        hours, and still get good grades.</li>
                    <li><span class="highlight">Hacks to improve your GPA score:</span>imple planning. Yes, you could
                        improve your grades and GPA score. It’s all a matter of planning.
                    </li>
                    <li><span class="highlight">Advice on writing quality papers:</span>ssertations, etc. Whatever the
                        assignment, there is a general principle to completing them in such a short time. While I may
                        not have specific advice for technical assignments such as I.T, I will get into specifics on
                        essays and term papers. Perfect grammar, avoid plagiarism, and finetune your essay, is all
                        there. I also provide a complete checklist to use, after you have finished your assignment, to
                        ensure you have followed the proven process well.</li>
                    <li><span class="highlight">Speed writing:</span> Is it possible to complete a 10-page essay in 4
                        hours or less? Absolutely! How
                        about completing that assignment that always stresses you fast, so you can spend time doing what
                        you love? You can! But you need to know the how-to. I will share links, sites and specific
                        advice, to break down an assignment into a completely relevant structure and do it in a few
                        minutes. Still skeptical? I was able to complete my final year school project in just 2 days,
                        from scratch, working a maximum of 6 hours each day. I wrote the first 3 chapters on Monday, and
                        the last 2 on Tuesday, totaling about 60 pages in total. My colleagues wondered how I did it;
                        the key is in research. Find the relevant information, and the rest is easy, I promise. </li>
                </ul>
            </div>
        </div>
        <div class="justify">
            <div class="justify-container">
                <div class="justify-center__title-container">
                    <div class="justify-title">
                        <h3 class="highlight">Yes, this is an essay writing service, but not a typical one. </h3>
                    </div>
                </div>
                <div class="justify-content about-typical">
                    <p style="font-size: 1.15rem; font-weight: 500;" class="about-typical__item">I decided to first
                        invest in you
                        before you even think of getting into business with me. I’m sure you
                        will benefit from the content I have created in the guides, and all the content I will share
                        with you.
                        <br><br>
                        I think I did you a great service creating this website… because you are sure to
                        benefit.
                        <br><br>
                        Once you benefit, please share it with your school friends, school mates or anybody you know
                        even if you
                        may not exactly pay for my services my services. I’m sure they will be glad you shared this site
                        with them. Let’s make student life easier!!
                    </p>
                </div>
            </div>
        </div>
        <div class="justify">
            <div class="justify-container">
                <div class="justify-center__title-container">
                    <div class="justify-title">
                        <h6 class="">Like the site? Share my page on the platforms below</h6>
                    </div>
                </div>
                <div class="justify-content about-typical">
                    <div class="share-links">
                        <!-- Sharingbutton Facebook -->
                        <a class="resp-sharing-button__link"
                            href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.jerrythewriter.com"
                            target="_blank" rel="noopener" aria-label="Facebook">
                            <div class="facebook shareIcons">
                                <div aria-hidden="true"
                                    class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </div>
                            </div>
                        </a>

                        <!-- Sharingbutton Twitter -->
                        <a class="resp-sharing-button__link"
                            href="https://twitter.com/intent/tweet/?text=Just%20came%20across%20this%20guide%20on%20how%20to%20make%20your%20school%20life%20easier%20%26%20effective&amp;url=https%3A%2F%2Fwww.jerrythewriter.com"
                            target="_blank" rel="noopener" aria-label="Twitter">
                            <div class="twitter shareIcons">
                                <div aria-hidden="true"
                                    class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                                    <ion-icon name="logo-twitter"></ion-icon>
                                </div>
                            </div>
                        </a>

                        <!-- Sharingbutton LinkedIn -->
                        <a class="resp-sharing-button__link"
                            href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.jerrythewriter.com&amp;title=Just%20came%20across%20this%20guide%20on%20how%20to%20make%20your%20school%20life%20easier%20%26%20effective&amp;summary=Just%20came%20across%20this%20guide%20on%20how%20to%20make%20your%20school%20life%20easier%20%26%20effective&amp;source=https%3A%2F%2Fmurmuring-badlands-78088.herokuapp.com"
                            target="_blank" rel="noopener" aria-label="LinkedIn">
                            <div class="linkedin shareIcons">
                                <div aria-hidden="true"
                                    class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                                    <ion-icon name="logo-linkedin"></ion-icon>
                                </div>
                            </div>
                        </a>

                        <!-- Sharingbutton Reddit -->
                        <a class="resp-sharing-button__link"
                            href="https://reddit.com/submit/?url=https%3A%2F%2Fwww.jerrythewriter.com&amp;resubmit=true&amp;title=Just%20came%20across%20this%20guide%20on%20how%20to%20make%20your%20school%20life%20easier%20%26%20effective"
                            target="_blank" rel="noopener" aria-label="Reddit">
                            <div class="reddit shareIcons">
                                <div aria-hidden="true"
                                    class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                                    <ion-icon name="logo-reddit"></ion-icon>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="justify">
            <div class="justify-container">
                <div class="justify-center__title-container">
                    <div class="justify-title">
                        <h6 class="">Also follow me on the platforms</h6>
                    </div>
                </div>
                <div class="justify-content about-typical">
                    <div class="share-links">
                        <!-- Sharingbutton Facebook -->
                        <a class="resp-sharing-button__link"
                            href="https://facebook.com"
                            target="_blank" rel="noopener" aria-label="Facebook">
                            <div class="facebook shareIcons">
                                <div aria-hidden="true"
                                    class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </div>
                            </div>
                        </a>

                        <!-- Sharingbutton Twitter -->
                        <a class="resp-sharing-button__link"
                            href="https://twitter.com"
                            target="_blank" rel="noopener" aria-label="Twitter">
                            <div class="twitter shareIcons">
                                <div aria-hidden="true"
                                    class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                                    <ion-icon name="logo-twitter"></ion-icon>
                                </div>
                            </div>
                        </a>

                        <!-- Sharingbutton LinkedIn -->
                        <a class="resp-sharing-button__link"
                            href="https://www.linkedin.com"
                            target="_blank" rel="noopener" aria-label="LinkedIn">
                            <div class="linkedin shareIcons">
                                <div aria-hidden="true"
                                    class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                                    <ion-icon name="logo-linkedin"></ion-icon>
                                </div>
                            </div>
                        </a>

                        <!-- Sharingbutton Reddit -->
                        <a class="resp-sharing-button__link"
                            href="https://reddit.com" target="_blank" rel="noopener" aria-label="Reddit">
                            <div class="reddit shareIcons">
                                <div aria-hidden="true"
                                    class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                                    <ion-icon name="logo-reddit"></ion-icon>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="justify">
            <div class="justify-container testimonials">
                <div class="justify-center__title-container">
                    <div class="justify-title">
                        <h1>What my clients have to say about me</h1>
                    </div>
                    <%- include('../includes/testimonials.ejs')%>
                </div>
            </div>
        </div>
    </main>
    <%- include('../includes/footer.ejs')%>
    <script src="js/testimonials.js"></script>
    <%- include('../includes/end.ejs')%>