<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/paper.css">
</head>

<body>
    <%- include('../includes/navigation.ejs')%>
    <main>
        <div class="paper-container">
            <div class="paper-form__container">
                <form class="paper-form" action="/new-paper" enctype="multipart/form-data" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="paper-form__details">
                        <div class="paper-form__details-header">
                            <div class="paper-form__details-index">
                                <span>1</span>
                            </div>
                            <h3>Paper Details</h3>
                        </div>
                        <div class="paper-form__details-body">
                            <div class="paper-form__form-item">
                                <label for="typeOfPaper">Type Of Paper</label>
                                <select name="typeOfPaper" id="typeOfPaper">
                                    <% for(let i = 0; i < parameters.length; i++) { %>
                                    <% if(parameters[i].category.name === 'Type of service'){ %>
                                    <option value="<%= parameters[i].id%>" data-price="<%= parameters[i].price%>">
                                        <%= parameters[i].name %></option>
                                    <% } %>
                                    <% } %>
                                </select>
                            </div>
                            <div class="paper-form__form-item">
                                <label for="subject">Subject</label>
                                <select name="subject" id="subject">
                                    <% for(let i = 0; i < parameters.length; i++) { %>
                                    <% if(parameters[i].category.name === 'subject'){ %>
                                    <option value="<%= parameters[i].id%>" data-price="<%= parameters[i].price%>">
                                        <%= parameters[i].name %></option>
                                    <% } %>
                                    <% } %>
                                </select>
                            </div>
                            <div class="paper-form__form-item">
                                <label for="topic">Topic</label>
                                <input type="text" id="topic" name="topic">
                            </div>
                            <div class="paper-form__form-item">
                                <label for="orderInstructions">Order Instructions</label>
                                <textarea name="orderInstructions" id="orderInstructions" cols="30" rows="4"></textarea>
                            </div>
                            <div class="paper-form__form-item">
                                <label for="service">Style</label>
                                <div class="service-container">
                                    <input class="radio-service" checked type="radio" name="service" id="service1"
                                        value="MLA">
                                    <label for="service1">MLA</label>
                                    <input class="radio-service" type="radio" name="service" id="service2" value="APA">
                                    <label for="service2">APA</label>
                                    <input class="radio-service" type="radio" name="service" id="service3"
                                        value="Chicago">
                                    <label for="service3">Chicago</label>
                                    <input class="radio-service" type="radio" name="service" id="service4"
                                        value="Harvard">
                                    <label for="service4">Harvard</label></div>
                            </div>
                            <div class="paper-form__form-item">
                                <label for="nofSources">Number of Sources</label>
                                <div class="number-of__sources-container">
                                    <div class="number-of__sources-text specialInput">
                                        <span class="number-of__sources-minus">
                                            <ion-icon name="remove-outline"></ion-icon>
                                        </span>
                                        <span class="number-of__sources-value">
                                            <% for(let i = 0; i < parameters.length; i++) { %>
                                            <% if(parameters[i].category.name === 'static' && parameters[i].name === 'Number of sources'){ %>
                                            <input type="number" name="nofSources" id="nofSources" value="1" min="1"
                                                data-price="<%= parameters[i].price%>">
                                            <% } %>
                                            <% } %>
                                        </span>
                                        <span class="number-of__sources-add">
                                            <ion-icon name="add-outline"></ion-icon>
                                        </span>
                                    </div>
                                    <div class="number-of__sources-toggle">
                                        <input type="checkbox" name="requiredSources" id="requiredSources">
                                        <label for="requiredSources">Not needed</label>
                                    </div>
                                </div>
                            </div>
                            <div class="paper-form__form-item">
                                <label for="inputFiles">Add new files</label>
                                <div class="file-wrapper">
                                    <div class="upload-btn-wrapper">
                                        <button class="upload-file">
                                            <span class="upload-btn d-block" id="info">
                                                <ion-icon name="document-attach-outline"></ion-icon>
                                                Drop your file here or <span class="highlight-green">Browse disk</span>
                                            </span>
                                            <div class="upload-secret-button d-block" id="blankFile">
                                                Supports PDF, DOC, WORD
                                            </div>
                                            <span class="success">
                                                <ion-icon name="checkmark-circle-outline"></ion-icon>
                                             </span>
                                        </button>
                                        <input type="file" name="selectfile" id="selectfile" multiple>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="paper-form__details">
                        <div class="paper-form__details-header">
                            <div class="paper-form__details-index">
                                <span>2</span>
                            </div>
                            <h3>Price Calculation</h3>
                        </div>
                        <div class="paper-form__details-body">
                            <div class="paper-form__form-item">
                                <label for="urgency">Urgency</label>
                                <select name="urgency" id="urgency">
                                    <% for(let i = 0; i < parameters.length; i++) { %>
                                    <% if(parameters[i].category.name === 'Urgency'){ %>
                                    <option value="<%= parameters[i].id%>" data-price="<%= parameters[i].price%>">
                                        <%= parameters[i].name %></option>
                                    <% } %>
                                    <% } %>
                                </select>
                            </div>
                            <div class="paper-form__form-item">
                                <label for="academicLevel">Academic Level</label>
                                <select name="academicLevel" id="academicLevel">
                                    <% for(let i = 0; i < parameters.length; i++) { %>
                                    <% if(parameters[i].category.name === 'academicLevel'){ %>
                                    <option value="<%= parameters[i].id%>" data-price="<%= parameters[i].price%>">
                                        <%= parameters[i].name %></option>
                                    <% } %>
                                    <% } %>
                                </select>
                            </div>
                            <div class="paper-form__form-item">
                                <label for="noOfPages">Number of Pages</label>
                                <div class="number-of__pages-container">
                                    <div class="number-of__pages-text specialInput">
                                        <span class="number-of__pages-minus">
                                            <ion-icon name="remove-outline"></ion-icon>
                                        </span>
                                        <span class="number-of__pages-value">
                                            <% for(let i = 0; i < parameters.length; i++) { %>
                                            <% if(parameters[i].category.name === 'static' && parameters[i].name === 'Number of pages'){ %>
                                            <input type="number" name="noOfPages" id="noOfPages" value="1" min="1"
                                                data-price="<%= parameters[i].price%>">
                                            <% } %>
                                            <% } %>
                                        </span>
                                        <span class="number-of__pages-add">
                                            <ion-icon name="add-outline"></ion-icon>
                                        </span>
                                    </div>
                                    <span style="font-weight: 300;"><small><span class="words">275</span>
                                            words</small></span>
                                </div>
                            </div>
                            <div class="paper-form__form-item">
                                <label for="discountCode">Discount Code</label>
                                <input type="text" id="discountCode" name="discountCode">
                            </div>
                            <div class="order-total paper-form__form-item">
                                <label for="orderTotal">Order Total</label>
                                <span class="orderTotal-text__container">
                                    <span class="orderTotal-text ordertotal">$17.00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="paper-form__details">
                        <div class="paper-form__details-header account-paper__form-details">
                            <div class="paper-form__index-container">
                                <div class="paper-form__details-index">
                                    <span>3</span>
                                </div>
                                <% if (!user) { %>
                                <h3>Account</h3>
                                <% } else {%>
                                <h3>Checkout</h3>
                                <% } %>
                            </div>
                            <% if (!user) { %>
                            <div class="account-toggle">
                                <input id="checkedSwitcher" name="checkedSwitcher" type="checkbox" />
                                <label for="checkedSwitcher">
                                    <div class="switcher">
                                        <span class="unselect">New customer</span>
                                        <span class="select opac-0">Existing</span>
                                    </div>
                                </label>
                            </div>
                            <% } else{ %>
                            <input id="checkedSwitcher" name="checkedSwitcher" type="hidden" value="loggedIn" />
                            <% } %>
                        </div>
                        <% if (!user) { %>
                        <% if(errorMessage){ %>
                        <div class="flash-message flash-message-danger"><span class="bold">Oh
                                snap!</span><%= errorMessage %></div>
                        <% } %>
                        <div class="paper-form__details-body new-user">
                            <div class="paper-form__form-item">
                                <label for="username">Username</label>
                                <input type="text" id="username" name="username" placeholder="User Name"
                                    value="someone">
                            </div>
                            <div class="paper-form__form-item">
                                <label for="signemail">Email</label>
                                <input type="email" id="signemail" name="signemail" placeholder="Your e-mail"
                                    value="someone@email.com">
                            </div>
                            <div class="paper-form__form-item">
                                <label for="signpassword">Create password:</label>
                                <input type="password" id="signpassword" name="signpassword"
                                    placeholder="Create your password" value="pass">
                            </div>
                            <div class="paper-form__form-item">
                                <label for="confirmPassword">Confirm password</label>
                                <input type="password" id="confirmPassword" name="confirmPassword"
                                    placeholder="Confirm your password" value="pass">
                            </div>
                        </div>
                        <div class="paper-form__details-body existing-user d-none">
                            <div class="paper-form__form-item">
                                <label for="email">Email</label>
                                <input type="email" id="loginemail" name="email" placeholder="Your e-mail"
                                    value="someone@gmail.com">
                            </div>
                            <div class="paper-form__form-item">
                                <label for="password">Password</label>
                                <input type="password" id="loginpassword" name="password" placeholder="Your password"
                                    value="password">
                            </div>
                        </div>
                        <div class="center">
                            <button class="submit-button" type="submit">Proceed to safe payment</button>
                        </div>
                        <% } else {%>
                        <% if(errorMessage){ %>
                        <div class="flash-message flash-message-danger"><span class="bold">Oh
                                snap!</span><%= errorMessage %></div>
                        <% } %>
                        <div class="center" style="margin: 1rem auto;">
                            <button class="submit-button" type="submit">Proceed to safe payment</button>
                        </div>
                        <% } %>
                        <div class="agreement">
                            <input type="checkbox" name="agree" id="agree">
                            <label for="agree"><small>I agree with <a href="/terms" class="highlight-green">Terms of
                                        Use</a> ,
                                    <a href="/guarantee" class="highlight-green">Money Back Guarantee</a> and <a
                                        href="/policy" class="highlight-green">Privacy Policy</a>
                                    Hereby, I understand my personal information or vulnerable data not to be
                                    transferred
                                    outside the company or shared with any third parties.</small>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="paper-summary">
                <div class="paper-summary__order-summary">
                    <div class="paper-summary__order-header">
                        <h3>Your order Summary</h3>
                        <p>Academic Paper Writing</p>
                    </div>
                    <div class="paper-summary__order-body">
                        <span><span class="pages">1</span> page / <span class="words">275</span> words</span>
                        <span class="last-child">$17.00</span>
                    </div>
                    <div class="paper-summary__order-body">
                        <span><span class="pages">High School</span></span>
                        <span class="last-child">$17.00</span>
                    </div>
                    <div class="paper-summary__order-body">
                        <span><span class="pages">2 days</span></span>
                        <span class="last-child">$17.00</span>
                    </div>
                    <div class="paper-summary__order-footer">
                        <div class="summary-order__foter-text"><span><strong>Order total</strong></span>
                            <span><strong class="ordertotal">$17.00</strong></span>
                        </div>
                        <button class="submit-button">Proceed to safe payment</button>
                    </div>
                </div>
                <div class="paper-methods">
                    <div class="paper-methods-header">
                        <h3>Payment methods</h3>
                    </div>
                    <div class="payment-methods">
                        <div class="payment-icons">
                            <img src="/images/mc_symbol.svg" alt="">
                            <img src="/images/Visa_Inc._logo.svg" alt="">
                            <img src="/images/American_Express_logo_(2018).svg" alt="">
                        </div>
                        <div class="guarantee-icons">
                            <div class="guarantee-icon">
                                <icon><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                        height="24">
                                        <path fill="none" d="M0 0h24v24H0z" />
                                        <path
                                            d="M11 2l7.298 2.28a1 1 0 0 1 .702.955V7h2a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1l-3.22.001c-.387.51-.857.96-1.4 1.33L11 22l-5.38-3.668A6 6 0 0 1 3 13.374V5.235a1 1 0 0 1 .702-.954L11 2zm0 2.094L5 5.97v7.404a4 4 0 0 0 1.558 3.169l.189.136L11 19.58 14.782 17H10a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h7V5.97l-6-1.876zM11 12v3h9v-3h-9zm0-2h9V9h-9v1z"
                                            fill='#fdfaf7' />
                                    </svg>
                                </icon>
                                <span>MONEY BACK GUARANTEE</span>
                            </div>
                            <div class="guarantee-icon">
                                <icon><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                        height="24">
                                        <path fill="none" d="M0 0h24v24H0z" />
                                        <path
                                            d="M3.783 2.826L12 1l8.217 1.826a1 1 0 0 1 .783.976v9.987a6 6 0 0 1-2.672 4.992L12 23l-6.328-4.219A6 6 0 0 1 3 13.79V3.802a1 1 0 0 1 .783-.976zM5 4.604v9.185a4 4 0 0 0 1.781 3.328L12 20.597l5.219-3.48A4 4 0 0 0 19 13.79V4.604L12 3.05 5 4.604zM12 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm-4.473 5a4.5 4.5 0 0 1 8.946 0H7.527z"
                                            fill='#fdfaf7' />
                                    </svg>
                                </icon>
                                <span>NO HIDDEN CHARGES</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../includes/footer.ejs')%>
    <script>
        // cahnging total price
        const typeOfPaper = document.getElementById("typeOfPaper")
        const subject = document.getElementById("subject")
        const urgency = document.getElementById("urgency")
        const academicLevel = document.getElementById("academicLevel")
        const noOfPages = document.getElementById("noOfPages")
        const nofSources = document.getElementById("nofSources")
        const changingValues = [typeOfPaper, subject, urgency, academicLevel, noOfPages, nofSources]
        for (let i = 0; i < changingValues.length; i++) {
            changingValues[i].onchange = () => {
                calculateNewTotal();
            }
        }

        document.getElementById('selectfile').onchange = function () {
            console.log(this.files.length)
            let attachedDocList = document.createElement('ul');
            let attachedDocsListItem;
            for (let i = 0; i < this.files.length; i++) {
                attachedDocsListItem = document.createElement('li');
                attachedDocsListItem.innerHTML =
                    `<span class='highlight-green'><ion-icon name="document-attach-outline"></ion-icon> ${this.files[i].name}</span> <br>`;
                attachedDocList.appendChild(attachedDocsListItem);
            }
            console.log(attachedDocList);
            document.getElementById('blankFile').appendChild(attachedDocList);
            if (document.getElementById('info')) {
                document.getElementById('info').remove();
            }
        };

        document.querySelector('#checkedSwitcher').addEventListener('click', (e) => {
            if (e.target.checked) {
                document.querySelector('.new-user').classList.add('d-none');
                document.querySelector('.existing-user').classList.remove('d-none');
                document.querySelector('.unselect').classList.add('opac-0');
                document.querySelector('.select').classList.remove('opac-0');
            } else {
                document.querySelector('.new-user').classList.remove('d-none');
                document.querySelector('.existing-user').classList.add('d-none');
                document.querySelector('.unselect').classList.remove('opac-0');
                document.querySelector('.select').classList.add('opac-0');
            }
        })

        document.querySelector('.number-of__sources-minus').addEventListener('click', (e) => {
            let currentValue = parseInt(document.getElementById('nofSources').value)
            if (currentValue > 1) {
                currentValue -= 1;
            }
            document.getElementById('nofSources').value = currentValue;
            calculateNewTotal();
        })

        document.querySelector('.number-of__sources-add').addEventListener('click', (e) => {
            let currentValue = parseInt(document.getElementById('nofSources').value);
            currentValue += 1;
            document.getElementById('nofSources').value = currentValue;
            calculateNewTotal();
        })

        document.getElementById('requiredSources').addEventListener('click', (e) => {
            let notNeeded = document.getElementById('requiredSources').checked;
            const add = document.querySelector('.number-of__sources-add')
            const minus = document.querySelector('.number-of__sources-minus');
            const value = document.querySelector('.number-of__sources-value');
            let arr = [add, minus, value];

            for (let i = 0; i < arr.length; i++) {
                if (notNeeded) {
                    document.querySelector('#nofSources').value = 1;
                    arr[i].style.pointerEvents = 'none';
                    arr[i].style.opacity = '0.5';
                } else {
                    arr[i].style.pointerEvents = 'all';
                    arr[i].style.opacity = '1';
                }
            }
        })

        document.querySelector('.number-of__pages-minus').addEventListener('click', (e) => {
            let currentValue = parseInt(document.getElementById('noOfPages').value)
            if (currentValue > 1) {
                currentValue -= 1;
            }
            for (let i = 0; i < document.getElementsByClassName('words').length; i++) {
                document.getElementsByClassName('words')[i].innerHTML = 275 * currentValue;
            }
            document.getElementById('noOfPages').value = currentValue;
            document.querySelector('.pages').innerHTML = document.getElementById('noOfPages').value;
            calculateNewTotal();
        })

        document.querySelector('.number-of__pages-add').addEventListener('click', (e) => {
            let currentValue = parseInt(document.getElementById('noOfPages').value);
            currentValue += 1;
            for (let i = 0; i < document.getElementsByClassName('words').length; i++) {
                document.getElementsByClassName('words')[i].innerHTML = 275 * currentValue;
            }
            document.getElementById('noOfPages').value = currentValue;
            document.querySelector('.pages').innerHTML = document.getElementById('noOfPages').value;
            calculateNewTotal();
        })

        document.getElementById('noOfPages').addEventListener('change', (e) => {
            document.querySelector('.pages').innerHTML = document.getElementById('noOfPages').value;
        })

        function calculateNewTotal() {
            let typeOfPaperPrice = (typeOfPaper[typeOfPaper.selectedIndex].dataset.price);
            let subjectPrice = (subject[subject.selectedIndex].dataset.price);
            let urgencyPrice = (urgency[urgency.selectedIndex].dataset.price);
            let academicLevelPrice = (academicLevel[academicLevel.selectedIndex].dataset.price);
            let numberOfSourcesPrice = nofSources.dataset.price * nofSources.value;
            let numberOfPagesPrice = noOfPages.dataset.price * noOfPages.value;
            let calculatedAdditions = parseFloat(subjectPrice) + parseFloat(urgencyPrice) + parseFloat(
                academicLevelPrice)
            let newTotal = Math.round(typeOfPaperPrice * numberOfPagesPrice * calculatedAdditions * 100) / 100 +
                parseFloat(numberOfSourcesPrice);
            for (let i = 0; i < document.getElementsByClassName('ordertotal').length; i++) {
                const el = document.getElementsByClassName('ordertotal')[i];
                el.innerHTML = `$${newTotal.toPrecision(4)}`;
            }
            console.log(newTotal);
        }
    </script>
    <%- include('../includes/end.ejs')%>