<link rel="stylesheet" href="css/sales.css">
<%- include('../includes/head.ejs')%>
</head>

<body>
    <%- include('../includes/navigation.ejs')%>
    <div class="sales-header">
        <div class="sales-header__text">
            <h1>Write my paper</h1>
        </div>
    </div>
    </header>
    <div class="sales-content__categorise">
        <!-- <div class="sales-content__categorise-title">
            <p class="highlight">“Help me; write a paper that looks like mine, keep all my information private, get a
                great
                GPA score and remove all the emotional burdens of completing my school assignments!”
            </p>
        </div> -->
    </div>
    <div class="categorise">
        <div class="categorise-title">
            <big>Maybe you’re like most students, who think they can do it by themselves, until you end up
                in one of the categories below;
            </big>
        </div>
        <div class="categorise-wrapper">
            <ul class="categorise-first__nav">
                <li class="categorise-first__nav-item">
                    <div class="nav-item__content">
                        <p>The procrastinator</p>
                    </div>
                    <div class="nav-item__arrow">
                        <ion-icon name="caret-forward"></ion-icon>
                    </div>
                </li>
                <li class="categorise-first__nav-item">
                    <div class="nav-item__content">
                        <p>The Busy Student</p>
                        You’re on an endless spree of:
                        <ul>
                            <li class="small-list-item"><span class="fa-li"><i
                                        class="far fa-check-square"></i></span>Balancing your day job,
                            </li>
                            <li class="small-list-item"><span class="fa-li"><i
                                        class="far fa-check-square"></i></span>Doing
                                your post-graduate
                                program (mostly
                                online),</li>
                            <li class="small-list-item"><span class="fa-li"><i
                                        class="far fa-check-square"></i></span>Taking
                                care of family,
                            </li>
                            <li class="small-list-item"><span class="fa-li"><i
                                        class="far fa-check-square"></i></span>Creating time for your
                                kids
                                and spouse who
                                often complain you don’t have time,</li>
                            <li class="small-list-item"><span class="fa-li"><i
                                        class="far fa-check-square"></i></span>having
                                dinner as a family
                                together</li>
                        </ul>
                    </div>
                    <div class="nav-item__arrow">
                        <ion-icon name="caret-forward"></ion-icon>
                    </div>
                </li>
                <li class="categorise-first__nav-item">
                    <div class="nav-item__content">
                        <p>Undergraduate Student- busy paying the bills!</p>
                        You are trying to
                        <ul>
                            <li class="small-list-item"><span class="fa-li"><i
                                        class="far fa-check-square"></i></span>Attend
                                lectures and all
                                classes,</li>
                            <li class="small-list-item"><span class="fa-li"><i
                                        class="far fa-check-square"></i></span>Complete all your work
                                shifts and complete
                                all class work (which usually
                                take time),
                            </li>

                        </ul>
                    </div>
                    <div class="nav-item__arrow">
                        <ion-icon name="caret-forward"></ion-icon>
                    </div>
                </li>
            </ul>
            <div class="categorise-first__images">
                <div class="categorise-first__image-container">
                    <div class="image-container__image">
                        <img src="./images/pic1.png" alt="">
                    </div>
                    <div class="image-container__text">
                        <span><i class="fas fa-chevron-left"></i></span>
                        <p class="">The procrastinator</p>
                        <span>
                            <ion-icon name="caret-forward"></ion-icon>
                        </span>
                    </div>
                </div>
                <div class="categorise-first__image-container none">
                    <div class="image-container__image">
                        <img src="./images/pic2.png" alt="">
                    </div>
                    <div class="image-container__text">
                        <span><i class="fas fa-chevron-left"></i></span>
                        <p class="">The Busy Student</p>
                        <span>
                            <ion-icon name="caret-forward"></ion-icon>
                        </span>
                    </div>
                </div>
                <div class="categorise-first__image-container none">
                    <div class="image-container__image">
                        <img src="./images/pic3.png" alt="">
                        <img src="./images/pic5.png" alt="">
                    </div>
                    <div class="image-container__text">
                        <span><i class="fas fa-chevron-left"></i></span>
                        <p class="">Undergraduate Student- busy paying the bills!</p>
                        <span>
                            <ion-icon name="caret-forward"></ion-icon>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category1">
        <div class="categorise-title">
            <big>You probably feel like some sophisticated time management program will help you balance all
                these activities, only to try them out, and then you never get the work done.
            </big>
        </div>
        <div class="category-second__wrapper">
            <div class="category-second__image">
                <img src="./images/ryan-jacobson-cXUOQWdRV4I-unsplash.jpg" alt="">
            </div>
            <div class="category-second__content">
                <div class="category-second__content-list">
                    <div class="category-second__content-title">
                        <h4>Undergraduate Student</h4>
                    </div>
                    <ul class="content-list__item fa-ul">
                        <li><span class="fa-li"><i class="far fa-check-square"></i></span>
                            Attend lectures and all classes.
                        </li>
                        <li><span class="fa-li"><i class="far fa-check-square"></i></span>
                            Complete all your work shifts and complete all class work (which usually take
                            time).
                        </li>
                        <li><span class="fa-li"><i class="far fa-check-square"></i></span>
                            Then there is the list of endless essays from different units.
                        </li>
                        <li><span class="fa-li"><i class="far fa-check-square"></i></span>
                            Combine all that stress; you don’t want to lose your jobs and you still want a
                            great GPA score (your future counts), and you become like one of the students in
                            the statistics above. It sucks, I know.
                        </li>
                    </ul>
                </div>
                <div class="category-second__content-list">
                    <div class="category-second__content-title">
                        <h4>Second language learner</h4>
                    </div>
                    <ul class="content-list__item fa-ul">
                        <li><span class="fa-li"><i class="far fa-check-square"></i></span>
                            You probably came from a far distant country, to the States, which is an
                            English-speaking country, and you obviously didn’t have enough time to learn the
                            formal well written English, idioms, and the cultural habits.
                        </li>
                        <li><span class="fa-li"><i class="far fa-check-square"></i></span>
                            There’s not enough time to learn to perfectly express yourself in the English
                            language on essays. As a new English language learner, you probably have
                            problems trying to write assignments in a logical way to show the reader you
                            know exactly what you’re talking about.
                        </li>
                    </ul>
                </div>
                <div class="category-second__content-list">
                    <div class="nav-container__item">
                        <div class="category-second__content-title">
                            <h4>New College Student</h4>
                        </div>
                    </div>
                    <ul class="content-list__item fa-ul">
                        <li><span class="fa-li"><i class="far fa-check-square"></i></span>
                            Maybe you are new to college assignments, which come in all sizes and types, or
                            you have experience but it’s not enough to provide content of the required
                            quality, and you need to complete your college assignment and get good grades.
                        </li>
                        <li><span class="fa-li"><i class="far fa-check-square"></i></span>
                            You start off in research and spend the whole day in the library, with nothing
                            to show for it. Or, worse, you write a paper that gets a poor grade, and then
                            your GPA lowers.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="sales-content__categorise-title">
        <p class="highlight">Attending university should be for the entire college experience (friends, fun, make
            memories
            etc.) These experiences remain to shape your life long after GPAs and other such items
            are no
            longer important. If a chain of assignments is throwing your life out of balance,
            consider
            getting some help</p>
        <small class="highlight">— Anonymous</small>
    </div> -->
    <div class="sales-content__convince">
        <div class="categorise-title">
            <big>After A Long Struggle, You Finally Admit That You Need Help. You Decide To Hire An Essay
                Writing
                Service To Help You With Your Assignments.
                And That’s When You’re Greeted With The Next Wave Of Challenges:
            </big>
        </div>
        <div class="sales-content__convince-container">
            <div class="convince-container__text">
                <h2>The potential <span class="highlight">risks of hiring services</span> to write your assignments;
                </h2>
                <ul class="convince-container__text">
                    <li class="text-list__item"><span class="fa-li"><i class="far fa-check-circle"></i></span>
                        You could get a poor-quality paper: Most writers on essay
                        writing services are not native English speakers. You could get a paper full of
                        plagiarism, poor grammar, doesn’t follow instructions, poor formatting, poor
                        punctuation. They could even sell a paper that was previously written for someone else,
                        only to find out much later, after the professor calls you in, and you have no
                        explanation.</li>
                    <li class="text-list__item"><span class="fa-li"><i class="far fa-check-circle"></i></span>Your
                        private information could be
                        released: This is the worst
                        absolute nightmare. What if some of your schoolmates see your details on such a site?
                        What if it ends up on the professor’s desk, and then you are caught for academic
                        plagiarism? Your program is terminated there and then.</li>
                    <li class="text-list__item"><span class="fa-li"><i class="far fa-check-circle"></i></span>No
                        options to customize your paper: Most services are doing
                        large-scale ‘production’ of assignments, and, they have no time to customize your
                        assignment to look like your own paper. What if they give you a paper that is way above
                        your writing standard, for example, if English is your second language, and then the
                        professor detects something wrong? And then you get caught for handing in work that is
                        not your own?</li>
                    <li class="text-list__item"><span class="fa-li"><i class="far fa-check-circle"></i></span>How
                        expensive will it be, OVER TIME? They
                        key is the word, “over
                        time”. You could pay for one paper, and get it done. How about through the semester, for
                        all the work? How much will it come to? Will you be able to afford?</li>
                    <li class="text-list__item"></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div class="sales-content__categorise-title">
        <p class="highlight">Why are you always so busy and stressed? I was asked on the phone a few days ago while
            fast-walking to my next class. It’s college, you’re just supposed to be having fun.</p>
        <small class="highlight">— Linhoff, 2015, The Odyssey</small>
    </div> -->
    <div class="sales-content__convince">
        <div class="categorise-title">
            <big>“Okay, Okay Jerry, But…What About The Professional, Credible,
                Well Rated Essay Writing Websites?
                The Good Ones? Not All Essay Writing Sites Are Like That!”I Agree. But Then...
            </big>
        </div>
        <div class="sales-content__convince-container">
            <div class="convince-container__text">
                <h2>The <span class="highlight">problem with essay-writing companies</span> today </h2>
                <p>You get onto their websites and you are instantly greeted with; A flashy captivating
                    headline, a calculator to know how much an assignment will cost you, and testimonials
                    (some
                    of which usually are not true), and some metric figureshing like, “98% customer
                    satisfaction, 152,936 completed orders, over 3578 skilled writers”</p>
                <p>I’ll be the first to tell you, you don’t only need an expert essay writing service to
                    help
                    you. They could be useful once, they could help you get good grades, but it just ends
                    there,
                    with your business. At the end of the day, you end up having nobody to advice you on how
                    to
                    go about life, you have nobody to make it easy to afford term papers over time, and
                    nobody
                    is guiding you on making your school life easier.</p>
                <p>Now you’re stranded… You don’t know who to trust, and you also can’t go alone doing the
                    work,
                    because it is impossible sometimes.

                    And if you know who to trust, they don’t have your complete interests at heart.</p>
            </div>
        </div>
    </div>
    <!-- <div class="sales-content__categorise-title">
        <p class="highlight">An expert essay-writing service is not enough. You need a trusted advisor; someone who
            understands your world, your frustrations, your life and can paint it in a clear way
            exactly
            how you see it. Someone who has your true deep interests at heart. They should be able
            to
            give you the advice, tips and solutions to make your life easier, more fulfilling and
            more
            liberating, than a site where you simply order papers and get them done for you, even
            though
            they will offer the best discounted prices.</p>
        <small class="highlight">— Jerry The Writer</small>
    </div> -->
    <div class="sales-content__convince">
        <div class="sales-content__workdone">
            <div class="categorise-title">
                <big>You See, The Point Is; You’re Frustrated, I Get It! And This Is Why I Established Write
                    My
                    Paper For Me By Jerry The Writer
                </big>
            </div>
        </div>
        <div class="sales-content__convince-container">
            <div class="convince-container__text">
                <h2>What you need</h2>
                <p>The best program to help make your college life easier by providing quality, original
                    (written from scratch) plagiarism free assignments which; Give you a great GPA
                    score/improve
                    your GPA, keeps all your information completely private (you’ll never get caught!), puts
                    you
                    on top of school life and what’s best? Is very affordable!</p>
                <p>Most students are way too busy to write their assignments, and many of them, even after
                    they
                    have used my techniques and mastered how to write assignments, are either unmotivated,
                    tired, (thanks to a hectic schedule) or just overwhelmed, and they need someone they can
                    trust to help them with their work. I will be that person for you.</p>
            </div>
        </div>
    </div>
    <div class="sales-content__workdone">
        <div class="categorise-title">
            <big>I Have Been Working On Assignments For Close To 8 Years Now, And Here Are The Topics That I
                Have Mastered, And I Am Confidently Able To Write Great Papers On;
            </big>
        </div>
    </div>
    <div class="deliverables-container">
        <div class="sales-content__deliverables-title">
            <h2>What will you get</h2>
        </div>
        <div class="deliverables">
            <div class="deliverable-items">
                <h1>1</h1>
                <div class="deliverable-title">
                    <h3>Original, written from scratch, plagiarism free papers:</h3>
                </div>
                <div class="deliverable-text">
                    <p>I will not sell a paper that I wrote years ago for a student, like some of these shady
                        essay-writing services do. Every paper will come with a detailed outline with all the
                        developmental points to show you how I started the paper from scratch. Then, I will send
                        you
                        a grammar report from Grammarly which shows your paper is free from grammar mistakes,
                        along
                        with a plagiarism report (with less than the unavoidable 3% plagiarism mostly from
                        references and quotes) to show that the paper is not plagiarized.</p>
                </div>
            </div>
            <div class="deliverable-items">
                <h1>2</h1>
                <div class="deliverable-title">
                    <h3>Custom Papers:</h3>
                </div>
                <div class="deliverable-text">
                    <p>I offer customizable papers on every angle that will match your writing I will ask for
                        2-3
                        past papers you handed in and use them as a guide to match your writing style (not a
                        must if
                        you don’t have). Plus, I have a special team to check the similarity, to ensure your
                        paper
                        does not sound like someone else wrote it for you. I know you can’t take any chances, so
                        why
                        should I?</p>
                </div>
            </div>
            <div class="deliverable-items">
                <h1>3</h1>
                <div class="deliverable-title">
                    <h3>Confidentiality:</h3>
                </div>
                <div class="deliverable-text">
                    <p>
                        Typically, your name and assignment instructions will be enough. Nothing to worry about.
                        Following our privacy policy, your information will never be released to any website,
                        person
                        or program. My privacy policy also states that once you receive a paper, it is regarded
                        as
                        your property and not mine anymore. You have complete authorship for it and so I will
                        not
                        keep the paper in my systems anymore, after you confirm its submission to the
                        instructor.
                    </p>
                </div>
            </div>
            <div class="deliverable-items">
                <h1>4</h1>
                <div class="deliverable-title">
                    <h3>100% Money back guarantee:</h3>
                </div>
                <div class="deliverable-text">
                    <p>
                        My almost 8-year experience should assure you of good quality assignments that I will
                        write
                        for you. If that’s not enough, I will offer to refund your money, if I write an
                        assignment
                        that doesn’t get you good grades of one that does not meet the specifications and
                        instructions which you requested. Simply provide proof of a poor grading, with
                        appropriate
                        criteria from the instructor and you have your money back, no questions asked! I’ll take
                        the
                        risk to my side, to prove of my quality. Check further on my Money back guarantee
                        policy.
                    </p>
                </div>
            </div>
            <div class="deliverable-items">
                <h1>5</h1>
                <div class="deliverable-title">
                    <h3>Quality papers:</h3>
                </div>
                <div class="deliverable-text">
                    <p>
                        I am knowledgeable with the various types of formatting, from; Chicago to Turbian, to
                        MLA,
                        APA, ASA and long quotes styles. Your paper will come in well formatted, well referenced
                        with appropriate in-text citations and it will follow the instructions and the RUBRIC to
                        the
                        letter. Just To be certain, check out Sample papers I have written before.</p>
                </div>
            </div>
            <div class="deliverable-items">
                <h1>6</h1>
                <div class="deliverable-title">
                    <h3>Minor changes and Revisions for FREE:</h3>
                </div>
                <div class="deliverable-text">
                    <p>
                        After you have received your paper, you can have me make as many minor changes for free.
                        I
                        also will do revisions for you, should they come up (very hard) for free</p>
                </div>
            </div>
            <div class="deliverable-items">
                <h1>7</h1>
                <div class="deliverable-title">
                    <h3>No hidden charges, no additional costs:</h3>
                </div>
                <div class="deliverable-text">
                    <p>
                        Some essay writing companies will charge you for referencing, developing the title page,
                        table of contents, thesis statement development and some added hidden costs. Not me. I
                        will
                        even do a plagiarism check, grammar check and originality check for free. I plan to be
                        completely transparent, so there is nothing to hide! You only pay for the paper, with
                        all
                        costs included.</p>
                </div>
            </div>
            <div class="deliverable-items">
                <h1>8</h1>
                <div class="deliverable-title">
                    <h3>Best tools for best essays:</h3>
                </div>
                <div class="deliverable-text">
                    <p>
                        I use TURNITIN software to check for plagiarism (and send every assignment with the
                        plagiarism report). Grammarly software (the best software to check the paper’s grammar
                        standard As well as the best citation and referencing tools today to check in text
                        citations
                        and references for your paper.</p>
                </div>
            </div>
            <div class="deliverable-items">
            </div>
        </div>
    </div>
    <div class="future-pacing">
        <div class="future-pacing__item">
            <div class="future-pacing__item-title">
                <h3>You will be assured of a <span class="highlight">great GPA score</span>.</h3>
            </div>
            <div class="future-pacing__text">
                <span><i class="fas fa-question-circle icon"></i></span>
                <div class="future-pacing__item-text">
                    <ul class="item-text__list fa-ul">
                        <li class="item-text__list-item"><span class="fa-li"><i class="fas fa-check"></i></span>You
                            can rest assured that, with my
                            almost
                            8-year experience, I know how professors grade papers and what great assignments
                            should look like. And I will get that for you.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="future-pacing__item">
            <div class="future-pacing__item-title">
                <h3><span class="highlight">Peace</span>f mind.</h3>
            </div>
            <div class="future-pacing__text">
                <span><i class="fas fa-question-circle icon"></i></span>
                <div class="future-pacing__item-text">
                    <ul class="item-text__list fa-ul">
                        <li class="item-text__list-item"><span class="fa-li"><i class="fas fa-check"></i></span>Your
                            college tuition investment will be
                            secure.</li>
                        <li class="item-text__list-item"><span class="fa-li"><i class="fas fa-check"></i></span>You
                            will have a better chance to apply
                            for
                            and get a job.</li>
                        <li class="item-text__list-item"><span class="fa-li"><i class="fas fa-check"></i></span>You
                            can easily get a scholarship.</li>
                        <li class="item-text__list-item"><span class="fa-li"><i class="fas fa-check"></i></span>You
                            have assurance to further your
                            studies,
                            should you choose to.</li>
                        <li class="item-text__list-item"><span class="fa-li"><i class="fas fa-check"></i></span>You
                            can join as many clubs and social
                            platforms that require great GPAs</li>
                        <li class="item-text__list-item"><span class="fa-li"><i class="fas fa-check"></i></span>Getting
                            a job while in campus is easier
                            thanks to your great GPA score.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="future-pacing__item">
            <div class="future-pacing__item-title">
                <h3>Save yourself all the <span class="highlight">frustrations of writing assignments.</span>
            </div>
            <div class="future-pacing__text">
                <span><i class="fas fa-question-circle icon"></i></span>
                <div class="future-pacing__item-text">
                    <ul class="item-text__list fa-ul">
                        <li class="item-text__list-item"><span class="fa-li"><i class="fas fa-check"></i></span>No
                            more performance anxiety: For a
                            very affordable
                            price, you have well structured,
                            well formatted, VERY well researched and well written assignments, which save
                            you of
                            all the heartache of writing papers.</li>
                        <li class="item-text__list-item"><span class="fa-li"><i class="fas fa-check"></i></span>Break
                            emotional burdens of writing
                            assignments: The
                            struggle of procrastinating,
                            energy to sit and complete a paper is waived off from you.</li>
                        <li class="item-text__list-item"><span class="fa-li"><i
                                    class="fas fa-check"></i></span>Eliminate your struggles: The dreaded
                            research process,
                            fear of plagiarism and
                            reading countless material to find the one gem that you can write about is
                            removed
                            from your life.</li>
                        <li class="item-text__list-item"><span class="fa-li"><i class="fas fa-check"></i></span>Forget
                            spending countless hours in
                            the library/behind a
                            computer just to write a
                            paper.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="future-pacing__item">
            <div class="future-pacing__item-title">
                <h3>Be in control, have <span class="highlight">freedom and a balanced life</span>.</h3>
            </div>
            <div class="future-pacing__text">
                <span><i class="fas fa-question-circle icon"></i></span>
                <div class="future-pacing__item-text">
                    <ul class="item-text__list fa-ul">
                        <li class="item-text__list-item"><span class="fa-li"><i class="fas fa-check"></i></span>Put
                            value on your health, peace of mind,
                            happiness and balance, over a tiring schedule, filled with an unreasonable
                            workload.
                        </li>
                        <li class="item-text__list-item"><span class="fa-li"><i class="fas fa-check"></i></span>You
                            will have time to do the things you
                            always want to and love to do.</li>
                        <li class="item-text__list-item"><span class="fa-li"><i class="fas fa-check"></i></span>Spend
                            some time with the people you
                            love,
                            and the stress of balancing school and life is removed from your life.</li>
                        <li class="item-text__list-item"><span class="fa-li"><i class="fas fa-check"></i></span>Have
                            time to enjoy life, catch up with
                            yourself, family and fall in love with being alive.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <main>
        <div class="justify">
            <div class="justify-container testimonials">
                <div class="justify-center__title-container">
                    <div class="justify-title">
                        <h1>What my clients have to say about me</h1>
                    </div>
                    <%- include('../includes/testimonials.ejs')%>
                </div>
            </div>
        </div>
    </main>
    <%- include('../includes/footer.ejs')%>
    <script src="https://unpkg.com/css-doodle@0.8.5/css-doodle.min.js"></script>
    <script src="js/sales.js"></script>
    <%- include('../includes/end.ejs')%>